/* .CLASS */

.dropdown {
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 2px solid white;
  border-radius: 15px;
}

.buttonM {
  margin: 10px;
  padding: 5px 25px;
  border-radius: 10px;
  display: block;
  text-align: center;
  color: black;
  background-color: 'white';
  transition: 0.3s;
}

.buttonM:hover {
  background-position: right center;
  color: black;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
  outline: 5px solid tomato;
}

.button {
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-color: 'white';
}
.button:hover {
  outline: thick double white;
  background-color: 'white';
  background-position: right center;
  color: white;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}

/* #ID */

#navbar {
  position: fixed;
  display: block;
  min-width: 290px;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  border: solid;
  border-bottom: 2px solid tomato;
  border-color: tomato;
  background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
}

.gridCol {
  font-size: 1.5em;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.arrowScroll {
  transition: all 0.8s ease-out;
  height: '100px';
  width: '100px';
  cursor: 'pointer';
  padding: '5px';
  position: 'fixed';
  right: '100px';
  bottom: '100px';
}

/* @MEDIA */
@media only screen and (max-width: 1680px) {
  .gridCol {
    font-size: 1.25em;
  }
  #navbar {
    position: fixed;
    display: block;
    min-width: 290px;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-bottom: 2px solid tomato;
    border-color: tomato;
    background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
  }
}
@media only screen and (max-width: 1600px) {
  .gridCol {
    font-size: 1.25em;
  }
  #navbar {
    position: fixed;
    display: block;
    min-width: 280px;
    width: 290px;
    height: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-bottom: 2px solid tomato;
    border-color: tomato;
    background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
  }
}
@media only screen and (max-width: 1500px) {
  .gridCol {
    font-size: 1.15em;
  }
  #navbar {
    position: fixed;
    display: block;
    min-width: 220px;
    width: 240px;
    height: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-bottom: 2px solid tomato;
    border-color: tomato;
    background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
  }
}
@media only screen and (max-width: 1300px) {
  .gridCol {
    font-size: 1.05em;
  }
  .navbar {
    position: fixed;
    display: block;
    min-width: 220px;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-bottom: 2px solid tomato;
    border-color: tomato;
    background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
  }
}
@media only screen and (max-width: 1200px) {
  .gridCol {
    font-size: 1em;
  }
  .navbar {
    position: fixed;
    display: block;
    width: 150px;
    height: 100%;
    left: 0;
    border: solid;
    border-bottom: 2px solid tomato;
    border-color: tomato;
    background: linear-gradient(90deg, #fd8a8a 0, #99a6fa 56%);
  }
}

@media only screen and (max-width: 924px) {
  .gridCol {
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 850px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
  .arrowScroll {
    height: '50px';
    width: '50px';
    cursor: 'pointer';
    padding: '5px';
    position: 'fixed';
    right: '50px';
    bottom: '50px';
  }
}
